@import '../login/login.component.scss';

.reset-password-container {
  @extend .login-container;
}

.reset-password-card {
  @extend .login-card;
}

.reset-password-header {
  @extend .login-header;
}

.reset-password-form {
  @extend .login-form;
}

