@import '../login/login.component.scss';

.forgot-password-container {
  @extend .login-container;
}

.forgot-password-card {
  @extend .login-card;
}

.forgot-password-header {
  @extend .login-header;
}

.forgot-password-form {
  @extend .login-form;
}

